{% extends "layouts/master.html" %}

{% block vista %}Listado de libros{% endblock %}

{% block contenido %}
<section>
        <main class="container">
	    <header class="py-3">
	            <h1 class="text-center py-3">Listado de todos los libros</h1>
	    </header> 
        <section class="py-3">
            <h3>Filtro</h3>
            <form action="" method="GET">
                <label for="valoracion">Valoracion</label>
                <select name="valoracion" id="valoracion">
                    <option value="">Selecciona</option>
                    <option value="750">750</option>
                    <option value="1350">1350</option>
                    <option value="1570">1570</option>
                    <option value="2100">2100</option>
                    <option value="3250">3250</option>
                </select>
                <button type="submit" class"btn btn-sencodary">Filtrar</button>
            </form>
            <form action="" method="GET">
                <label for="filtro_fecha">por fecha de modificacion</label>
                <select name="filtro_fecha" id="filtro_fecha">
                    <option value="">Selecciona</option>
                    <option value="cualquier_fecha ">Cualquier fecha</option>
                    <option value="hoy">Hoy</option>
                    <option value="ultimos_7_dias">Ultimos 7 dias</option>
                    <option value="ultimo_mes">Ultimo mes</option>
                    <option value="ultimo_anno">Ultimo año</option>
                </select>
                <button type="submit" class"btn btn-sencodary">Filtrar</button>
            </form>
        </section>       
        <section id=""> 
            {% if  libros %}
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tiulo</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Valoracion</th>
                   
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                        <tr>
                            <td>{{libro.titulo}}</td>
                            <td>{{libro.autor}}</td>
                            <td>{{libro.valoracion}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            {% else %}
            <p class="text-center">No existen libro disponibles</p>
            
            {% endif %}
        </section>

    </main>
</section>
          
{% endblock %}

